<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestREST.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4161A3591CD9F2C500835D90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4161A36D1CD9F2C500835D90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4161A3781CD9F2C500835D90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
